.seoItem {
  margin: 15px;
  margin-top: 15px;
}

.googleWrapper {
  font-family: Arial, sans-serif;
  background-color: #f6f6f6;
  padding: 10px 12px;
}

.title {
  color: #1a0dab;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.4;
  white-space: "nowrap";
  overflow: "hidden";
  text-overflow: "ellipsis";
}

.url {
  height: 18;
  color: #006621;
  font-size: 14px;
  line-height: 2;
  white-space: "nowrap";
  overflow: "hidden";
  text-overflow: "ellipsis";
}

.description {
  color: #545454;
  font-size: 14px;
  line-height: 1.5;
  word-wrap: "break-word";
  text-overflow: "ellipsis";
}
